<div class="main-holder">
    <div class="hero">
        <h2>Welcome to CSE Motors!</h2>
        <div class="hero-holder">
            <img
                src="images/vehicles/delorean.jpg"
                class="hero-image"
                alt="Sweet looking Delorean"
            />
        </div>
        <div class="float-hero">
            <h3>DMC Delorean</h3>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <a href="#">
                <img
                    src="images/site/own_today.png"
                    alt="Buy a Delorean"
                />
            </a>
        </div>
    </div> 
    <div class="main-box">
        <div id="box-1">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
        <div id="box-2">
            <h2>Delorean Upgrades</h2>
            <div id="upgrade-list">
                <a href="#">
                    <div class="upgrad-img">
                        <img
                            src="images/upgrades/flux-cap.png"
                            alt="flux capacitor"
                        />
                    </div>
                    Flux Capacitor
                </a>
                <a href="#">
                    <div class="upgrad-img">
                        <img
                            src="images/upgrades/flame.jpg"
                            alt="flame decals"
                        />
                    </div>
                    Flame Decals
                </a>
                <a href="#">
                    <div class="upgrad-img">
                        <img
                            src="images/upgrades/bumper_sticker.jpg"
                            alt="bumper stickers"
                        />
                    </div>
                    Bumper Stickers
                </a>
                <a href="#">
                    <div class="upgrad-img">
                        <img
                            src="images/upgrades/hub-cap.jpg"
                            alt="hub caps"
                        />
                    </div>
                    Hub Caps
                </a>
            </div>
        </div>
    </div>
</div>