/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-general: Arial, sans-seriff;
  --titles: "Nova Square", sans-seriff;

  /* colors */
  --color1: black;
  --color2: #4C96D7;
  --color3: white;
  --link-hover: red;
  --hero-float: rgba(255, 255, 255, 0.75);
  --validation-good: rgb(135, 207, 135);
  --validation-bad: rgb(225, 96, 96);


  /* font sizes */
  --size-normal: 15px;
  --size-title: 2em;
  --size-header: 1.25em;
  --size-smaller: 0.85em;
  --size-bigger: 1.15em;
  --size-smallest: 0.75em;
}

body {
  color: var(--color1);
  font-family: var(--font-general);
  font-size: var(--size-normal);
}

h1, h2, h3 {
  font-family: var(--titles);
}

ul {
  list-style-type: none;
}

/* header */

#top-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 0px;
}

#top-header a{
  text-decoration: none;
  color: var(--color1);
}

.siteName {
  font-family: var(--titles);
  font-weight: bold;
  font-size: var(--size-title);
  color: var(--color1);
}

.siteName:visited {
  color: var(--color1) !important;
}

#tools {
  text-align: right;
  justify-content: center;

}

/* navigation */
nav {
  background-color: var(--color1);
  color: var(--color3);
  /* margin: -10px; */

}

nav ul {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  
}

nav a {
  color: var(--color3);
  text-decoration: none;
}

nav a:hover {
  color: var(--link-hover);
}

/* main page */

/* hero image */
.hero{
  position: relative;

}

.hero-holder{
  display: grid;
  justify-items: right;
  width: 100%;
}

.float-hero {
  /* font-size: var(--size-smaller); */
  color: var(--color2);
  background-color: var(--hero-float);
  width: 45%;
  position: absolute;
  top: 25%;
}

.hero-image {
  width: 85%;
  height: auto;
  /* position:absolute;
  right: 0; */
}

.float-hero h3 {
  margin-bottom: 0;
}

.float-hero p {
  margin: 0;
}

.float-hero a {
  padding-top: 100px;
}

.float-hero img {
  width: 75%;
  height: auto;
}

/* Review list */
#box-1 h2 {
  margin-bottom: 0px;
}

#box-1 ul {
  padding-left: 20px;
}

#box-1 li {
  padding: 10px 0px;
}

/* Upgrade list */
#upgrade-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 2%;
  width: 100%;
}

#upgrade-list a{
  display: block;
  align-items: center;
  justify-items: center;
  margin-bottom: 2%;
}

.upgrad-img {
  width: 200px;
  height: 100px;
  background-color: var(--color2);
  display: grid;
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 617px){
  body {
    background-image: url("../images/site/checkerboard.jpg");
    display: grid;
    align-items: center;
    justify-items: center;
  }

  #wrapper{
    width: 75%;
    border: solid 5px var(--color2);
    border-radius: 25px;
    background-color: var(--color3);
    margin: 50px 0px;
    padding: 10px;
  }

  .main-box {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-flow: row-reverse;
    column-gap: 10%;
    justify-content: left;
  }

  #box-2{
    width: 40%;
    margin-left: 0;
  }

  #box-1{
    width: 40%;

  }

  /* Car details page */
  .inv-box{
    display: flex;
    column-gap: 2%;
    flex-wrap: wrap;
    /* column-width: 49%; */
  }

  .car-image{
    width: 49%;
  }

  .info-box{
    width: 49%
  }

  /* Account update page */
  #update-password{
    margin-top: 0 !important;
    display: grid;
  }

  .account-upd {
    height: 250px;
    width: 40% !important;

  }

  #updatePassword{
    align-self:self-end;
    width: 112px;
    margin-bottom: 0;
  }

 
}

/* vehicle type pages */
#inv-display {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 20px;
}

#inv-display li {
  background-color: rgb(219, 212, 212);
  width: 220px;
  padding: 10px;
  display: block;
  border-radius: 15px;
}

#inv-display li img {
  max-height: 200px;
  width: auto;
}

.namePrice {
  text-align: center;
  height: 100%;
}

.namePrice a {
  text-decoration: none;
  color: var(--color1);
}

.namePrice a:hover {
  color: var(--link-hover);
}

/* Car Display */
.car-image img{
  width: 100%;
  height: auto;
}

.quick-info{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  /* width: 49%; */
}

.car-title{
  grid-column-start: 1;
  grid-column-end: 3;
}

.quick-info h2{
  margin: 0;
}

.quick-info h3{
  margin: 0;
}

.deets-list{
  padding-left: 0;
}

.deets-list li{
  margin-bottom: 10px;
}

/* forms */
form {
  background-color: var(--color2);
  padding: 15px;
  width: 50%;
  border-radius: 25px;
}

label {
  margin-top: 10px;
  font-size: var(--size-bigger);
  font-weight: bold;
}

.password-info{
  /* background-color: yellow; */
  margin: -15px 0;
  font-size: var(--size-smallest);
  font-weight: normal;
}

input {
  margin-bottom: 10px;
  height: 25px;
}

.submitto{
  padding: 15px 25px 35px 25px;
  /* padding-bottom: 40px; */
  align-content: center;
  justify-content: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: var(--size-bigger);
}

.submitto:hover{
  cursor: pointer;
  background-color: var(--color1);
  color: var(--color3);

}

/* form validation */
input:required:invalid, input:focus:invalid{
  background-color: var(--validation-bad);
}

input:required:valid{
  background-color: var(--validation-good);
}

/* Inventory Management */
.management{
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
}

.management-buttons{
  color: var(--color1);
  text-decoration: none;
  font-weight: bold;
  font-size: var(--size-title);
  background-color: var(--color2);
  padding: 30px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.management-buttons:hover{
  background-color: var(--validation-good);
}

.inv-mgmt{
  justify-items: center;
}

#classificationList {
  height: 30px;
  font-size: var(--size-bigger);
}

thead {
  font-family: var(--titles);
  font-size: var(--size-bigger);
}

#inventoryDisplay td{
  padding-right: 10px;
  padding-bottom: 25px;
}

#inventoryDisplay td a{
  color: var(--color1);
  text-decoration: none;
  font-weight: bold;
  background-color: var(--color2);
  padding: 10px;
  border-radius: 5px;
}

#inventoryDisplay td a:hover{
  background-color: var(--validation-good);
}

/* inventory forms */
.inv-forms {
  justify-items: center;
}

.new-stuff, .new-inv {
  display: grid;
  justify-content: center !important;
}

.new-stuff label{
  width: 100%;
  display: grid;
  justify-content: center;
  /* text-align: center; */
}

.form-holder{
  display: grid;
  justify-content: center;
  width: 100%;
}

.new-inv {
  width: 100%;
  padding: 30px 90px;
}

.new-inv input {
  width: 100%;
  height: 30px;
}

#inv_description {
  height: 200px;
  width: 100%;
}

.new-inv select, .account-sub select {
  height: 30px;
  font-size: var(--size-normal);
}

.new-inv label {
  font-size: var(--size-bigger);
}

/* Account Management */
.welcome-box{
  display: grid;
}

.welcome-box a{
  width: 45%;
  text-align: center;
}

#management-tools{
  display: grid;
  margin-top: 25px;
  margin-bottom: 35px;
}

#user-mgmt{
  margin-top: 65px;
}

/* Account Update Page */
#account-update{
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
}

#update-password{
  margin-top: 20px;
}

.account-upd{
  width: 300px;
}

.account-upd p{
  margin-bottom: 20px;
}

/* user management  */

.disableed {
  background-color: rgb(197, 196, 196) !important;
  color: rgb(93, 93, 93) !important;
}

.disableed:hover{
  cursor:not-allowed !important;
}

#userDisplay{
  text-align: left;
}

#userDisplay td{
  padding-right: 10px;
  padding-bottom: 25px;
}

#userDisplay td a{
  color: var(--color1);
  text-decoration: none;
  font-weight: bold;
  background-color: var(--color2);
  padding: 10px;
  border-radius: 5px;
}

#userDisplay td a:hover{
  background-color: var(--validation-good);
}

/* new user */
.account-sub input{
  width: 218px;
  height: 28px;
  margin-bottom: 20px;
}

.account-sub p{
  margin-bottom: 20px;
  margin-top: 15px;
}

.account-sub select{
  margin-bottom: 20px;
}