<!-- heading -->
<% if (title) { %>
    <!-- <h1 id="car-title"><%= title %></h1> -->
    <% } else {
      res.redirect('/')
    } %>

<!-- Message -->
<% messages() %>

<!-- Inventory Items Display -->
<%- grid %>